body {
    left: auto;
    right: auto;
}

h1 {
    background-color: aqua;
}

#title-section {
    flex-direction: row;
}

#product-table {
    width: 50%;
    border: 1px solid black;
    background-color: aqua;
}